# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env
.vscode
# Logs
*.log
.local
# Database
*.db
*.sqlite3
data/modmail_sessions.json

# OS
.DS_Store
